version: "3.9"

services:
  web:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: ./wait-for-it.sh db:5432 -- python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env

  celery:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: celery -A procured_payment worker --loglevel=info
    volumes:
      - ./backend:/app
    depends_on:
      - db
      - redis
    env_file:
      - .env

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    command: npm run dev
    volumes:
      - ./Frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"   # default Vite dev server port
    depends_on:
      - web
    env_file:
      - ./Frontend/.env

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ist_db
      POSTGRES_USER: gilbert
      POSTGRES_PASSWORD: 123456!
    ports:
      - "5432:5432"
    restart: unless-stopped

