services:
  web:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: gunicorn procured_payment.wsgi:application --bind 0.0.0.0:8000
    # Optional: comment out volumes to avoid overwriting entrypoint.sh
    # volumes:
    #   - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env

  celery:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: celery -A procured_payment worker --loglevel=info
    # volumes:
    #   - ./backend:/app
    depends_on:
      - db
      - redis
    env_file:
      - .env

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    # If using dev server
    command: npm run dev -- --host 0.0.0.0
    # volumes:
    #   - ./Frontend:/app
    ports:
      - "5173:5173"
    depends_on:
      - web
    env_file:
      - ./Frontend/.env

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ist_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "gilbert123!"
    ports:
      - "5432:5432"
    restart: unless-stopped
