version: "3.9"
services:
  web:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: >
      sh -c "./wait-for-it.sh db:5432 -- python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  celery:
    build:
      context: ./backend  # adjust if Dockerfile is inside here
      dockerfile: Dockerfile
    command: celery -A procured_payment worker --loglevel=info
    volumes:
      - ./backend:/app
    depends_on:
      - web
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: your_db_name
      POSTGRES_USER: your_db_user
      POSTGRES_PASSWORD: your_db_password
    ports:
      - "5432:5432"
